altair
attrs
blinker
bokeh==2.4.3; python_version >= '3.7'
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
gitpython
greenlet
idna
jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
markupsafe
matplotlib
mdurl
mysql-connector-python
narwhals
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pygments
pymysql
pyparsing
python-dateutil
pytz
pyyaml
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
sqlalchemy
streamlit
tenacity
threadpoolctl
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
